body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#container {
    margin: auto;
}

#rectangle{
    width:250px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}

#rectangle2{
    width:250px;
    height:200px;
    margin-left: 100px;
    margin-right: auto;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 