<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <script src = "static/js/hexGame.js"></script>
    <title>HexcodeGame</title>
</head>

<body onload = "genColor()">
    <nav class="top-nav">
        <div class="nav-container" style="justify-content: space-between; width: 100%;">
            <div class="brand"><a href="/">Harshil Pathri</a></div>
            <div class="nav-links">
                <a href="/hexGame">HexCodle</a>
                <a href="/poker">Poker Simulator</a>
            </div>
        </div>
    </nav>
    <header>
        <h1>Hex Code Game</h1>
        <p>Hexcodle Copy (easy mode)</p>
    </header>
    <section style="align-items: center;">

        <div class="flex-container">
            <div class="flex-child magenta" id="rectangle"></div>
            <div class="flex-child green" id ="rectangle2"></div>
        </div>
    </section>

    <section style="text-align: center;">
        <input type="text" id="guess" name="guess"><br><br>
        <input type="button" onclick="guessLogic()" value="Guess">
    </section>

</body>

</html>